<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Train Line Assignment suite" parallel="tests"
	verbose="2">
	<listeners>
		<!--<listener class-name="com.qa.extentReportListener.ExtentTestNGIReporterListener" 
			/> -->
		<listener class-name="com.qa.util.AnnotationTransformer" />
		<listener
			class-name="com.qa.report.ExtentTestNGITestListener" />
	</listeners>
	<test name="Ticket Fare Test">
		<classes>
			<class name="com.qa.tests.DemoTest">
				<methods>
					<exclude name="demoTest" />
				</methods>
			</class>
			<class name="com.qa.tests.TicketFareTest" />
		</classes>
	</test> <!-- Default test -->
</suite> <!-- Default suite -->
